html {
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

#header nav {
	margin-bottom: 20px;
}

header img {
	width: 100%;
}

.carousel {
	width: 70%;
	margin: 0 auto;
}

nav .container {	
	width: 50%;
}

nav li:last-child {
	float: right;
}

nav ul {
	margin: 0 auto;
}

.home h1 {
	color: #f1c40f;
	text-transform: uppercase;
}

.jumbotron {
	margin-bottom: 0;
	text-align: center;
	background-color: #f1c40f;
}

footer{
	margin-top: 20px;
}