html {
	/*font-family: "Lato", "Helvetica", "Arial", sans-serif;*/
	font-family: 'Century Gothic'
}

body {
	background: #3ccbf5 url("../images/footer.jpg") no-repeat bottom;
	background-attachment: fixed;
	padding-top: 50px;
}
#header{
	position: fixed;
	width: 100%;
	z-index: 10000;
}

#header nav {
	margin-bottom: 0px;
	background: rgba(255,255,255, 0.7);
}

header img {
	/*width: 100%;*/
}

.carousel {
	width: 70%;
	margin: 0 auto;
}

nav .container {	
	width: 50%;
}

nav li:last-child {
	float: right;
}

nav ul {
	margin: 0 auto;
}

.home h1 {
	color: #f1c40f;
	text-transform: uppercase;
}

.jumbotron {
	margin-bottom: 0;
	text-align: center;
	background: rgba(255,255,255,0.7);
	width: 70%;
	margin: 0 auto;
}

.main-text {
	width: 80%;
	margin: 0 auto;
}

#email-news {
	width: 250px;
	margin-right: 10px;
}

.main-text form {
	text-align: center;
}

#main_content{
	background: rgba(255,255,255,0.7);
	width: 70%;
	margin-bottom: 0;
	margin: 0 auto;
	padding: 20px 0;
}

footer{
	margin: 20px auto;
	background: transparent;
	padding: 0;
	/*height: 200px;*/
}

hr{
	border-color: #3ccbf5;
}

.navbar {
	border-radius: 0;
}

.modal {
	z-index: 999999;
}

.nav li a, .nav li .btn-facebook {
	background: rgba(118, 227, 255, 1);
	color: #fff;
}

.nav li a:focus, .nav li a:hover,.nav li .btn-facebook:hover {
	background-color:#5ACAFF;
}

.nav li a:hover {
	background-color:#5ACAFF;
}

footer .jumbotron {
	height: 240px;
	position: relative;
	bottom: -20px;
	padding-bottom: 0;
	padding-top: 20px;

}

footer ul li:first-child {
	float: left;
	width: 300px;
	list-style: none;
}

footer ul li:last-child {
	float: right;
	list-style: none;
}

footer h6{
	font:bolder;
}

.main-text .form-group h4 {
	text-align: left;
} 